body, 
.md-typeset {
  font-weight: 300;
  color: #444;
}

figure {
  margin: 0;
  padding: 0;
}

.md-main__inner {
  padding-bottom: 3rem;
}

.md-typeset h1, 
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-weight: 500;
  color: #444;
}

.md-typeset h1 {
  font-size: 4.0rem;
}

.md-typeset h3 {
  font-weight: 600;
  font-size: 1.8rem;
}

.md-nav__link {
  margin-top: 13px;
}

q {
  color: #666;
}

.lead {
  font-weight: 300;
  font-size: 20px;
}

.thin {
  font-weight: 300 !important;
}

.todo {
  font-weight: 500;
  color: red;
}